@charset "UTF-8";
/* td #profile {
	width: 75px; height: 75px;
} */

#profile-result {
	max-width: 75px; height: 75px;
}

#table-width>:not(caption)>*>*{
	
}

#table-width td, #table-width th{
	padding : 0.5rem 0.5rem;
}